#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* navbar */

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-size: 20px;
  list-style: none;
}

/* active */

.active {
  background-color: aquamarine;
  padding: 10px;
}

/* posts list*/

.postItem {
  border: 1px solid grey;
}

.postItem a {
  display: block;
  margin: 10px 0;
  color: red;
  cursor: pointer;
}

.postItem img {
  width: 100%;
}

.postdetail img {
  width: 100%;
}

/* button */

button {
  background-color: lightblue;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}